.connexion-btn{
    background-color: rgb(29, 161, 242);
    opacity: 0.5;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.connexion-btn:hover{
    color: white;
    font-weight: bold;
}
.pwd-oubile,.sign-btn,.use-email{
    text-decoration: none;
    color:  rgb(29, 161, 242);
}
.pwd-oubile:hover,.sign-btn:hover{
    border-bottom: 1px solid  rgb(29, 161, 242);
    color:  rgb(29, 161, 242);
}
.connexion h3{
    font-weight: bold;
}
.font-weight-bold{
    font-weight: bold;
}

/*Inscription */